@import "compass/css3";

html > body.lfr-dockbar-pinned {
	padding-top: 74px;

	#dockbar {
		top: 42px;
	}

	#user-bar {
		left: 0;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 301;
	}
}

#user-bar {
	background: #32363A url(@portal_ctx@/images/user_bar_default_bg.png) repeat-x;
	font-weight: 200;
	position: relative;
	z-index: 2;

	@include background-image(linear-gradient(bottom, #252D31 0, #32363A 100%));

	&, a {
		color: #FFF;
		font-size: 13px;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-weight: 400;
		text-decoration: none;
	}

	#so_logo {
		display: inline-block;
		margin-bottom: -7px;
		padding: 6px 3px 6px 8px;
		vertical-align: middle;

		&, &:hover {
			background-color: transparent;

			@include box-shadow(none);
		}
	}

	a {
		background: rgba(0,0,0, 0);
		padding: 0.25em .8em;
		text-shadow: 0 1px 2px rgba(0,0,0, .75);

		@include border-radius(4px);
		@include transition-property(background-color);
		@include transition-duration(.5s);
	}

	li.selected a, a:hover, li:hover a {
		background: rgba(0,0,0, .48);
		text-decoration: none;

		@include box-shadow(0 1px 2px rgba(0,0,0, .75));
	}

	ul, li {
		display: inline-block;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li a {
		display: block;
	}

	.user-menu {
		padding: .5em;

		.avatar {
			display: inline-block;
			height: 24px;
			margin: -5px 10px -4px -5px;
			overflow: hidden;
			padding: 0;
			vertical-align: middle;
			width: 24px;

			img {
				max-width: 24px;
				min-height: 24px;
			}
		}

		.child-menu {
			left: auto;
			right: 0;
		}

		.config-icon {
			padding: .25em 6px;

			img {
				vertical-align: bottom;
			}
		}
	}

	.notifications {
		position: relative;

		.notification-count {
			color: #202020;
			background: transparent;
			padding: 0;
			text-shadow: none;
			margin: 0 -0.1em;
		}

		.user-notification-events-icon {
			background: rgba(255,255,255, 1);

			@include border-radius(20px);

			&:hover {
				background: rgba(0,0,0, .8);

				.notification-count {
					color: #FFF;
				}
			}
		}
	}

}

#dashboardNav {
	position: relative;
	z-index: 3;
}

@media (max-width:860px) {
	#user-bar {
		a {
			padding: 0.25em .7em;
		}

		.user-info a {
			padding: 0;

			.avatar {
				margin: 0;

				@include border-radius(4px);
			}
		}

		.full-name {
			display: none;
		}
	}
}