<nav id="user-bar">
	<a id="so_logo" href="$user_dashboard_url" title="#language("go-to") Social Office Dashboard">
		<img alt="$logo_description" height="32" src="$so_logo" width="32" />
	</a>

	<h1 class="hidden-accessible">User Navigation</h1>

	#if ($is_signed_in)
	<ul id="dashboardNav">
		#foreach ($user_item in $user_layout)
			#if ($user_item.isRootLayout() && !$user_item.isHidden() && $permissionChecker.hasPermission($user_item.getGroupId(), "com.liferay.portal.model.Layout", $user_item.getPlid(), "VIEW"))

			#set ($navHasChildren = $user_item.hasChildren())

			#set ($user_item_class = "")

			#foreach ($nav_child in $user_item.getChildren())
				#if ($layout.getPlid() == $nav_child.getPlid())
					#set ($parent_id = $layout.getParentLayoutId())
				#end
				#foreach ($nav_grandchild in $nav_child.getChildren())
					#if ($layout.getPlid() == $nav_grandchild.getPlid())
						#set ($grandparent_id = $nav_child.getParentLayoutId())
					#end
				#end
			#end

			#if ($layout.getPlid() == $user_item.getPlid() || $user_item.getLayoutId() == $parent_id || $user_item.getLayoutId() == $grandparent_id)
				#set ($user_item_class = "selected")
			#end

			#if ($navHasChildren)
				#set ($user_item_class = ${user_item_class} + " has-children parent-menu")
			#end

				<li class="$user_item_class">
					<a href="$user_item.getRegularURL($request)" $user_item.getTarget()>
						$user_item.getName($locale)

						#if ($navHasChildren)
							 &#x25BE;
						#end
					</a>

					#if ($navHasChildren)
						<ul class="child-menu">
							#foreach ($nav_child in $user_item.getChildren())
								#set ($hasGrandChildren = $nav_child.hasChildren())
								#set ($nav_child_class = "")

								#foreach ($nav_grandchild in $nav_child.getChildren())
									#if ($layout.getPlid() == $nav_grandchild.getPlid())
										#set ($parent_id = $layout.getParentLayoutId())
									#end
								#end

								#if ($layout.getPlid() == $nav_child.getPlid() || $nav_child.getLayoutId() == $parent_id)
									#set ($nav_child_class = "selected")
								#end

								#if ($hasGrandChildren)
									#set ($nav_child_class = ${nav_child_class} + " has-children")
								#end

								<li class="$nav_child_class">
									<a href="$nav_child.getRegularURL($request)" $nav_child.getTarget()>
										$nav_child.getName()

										#if ($hasGrandChildren)
											 &#x25BE;
										#end
									</a>

									#if ($hasGrandChildren)
										<ul class="grandchild-menu">
											#foreach ($nav_grandchild in $nav_child.getChildren())
												#if ($layout.getPlid() == $nav_grandchild.getPlid())
													<li class="selected">
												#else
													<li>
												#end
													<a href="$nav_grandchild.getRegularURL($request)" $nav_grandchild.getTarget()>$nav_grandchild.getName()</a>
												</li>
											#end
										</ul>
									#end
								</li>
							#end
						</ul>
					#end
				</li>
			#end
		#end
	</ul>
	#end

	<ul class="user-menu">
		#if ($is_signed_in)
		<li class="go-to has-menu">
			$velocityPortletPreferences.setValue("displayStyle", "0")
			$velocityPortletPreferences.setValue("portletSetupShowBorders", "false")

			$theme.runtime("5_WAR_soportlet", "", $velocityPortletPreferences.toString())

			$velocityPortletPreferences.reset()
		</li>
		<li class="notifications">
			$velocityPortletPreferences.setValue("displayStyle", "0")
			$velocityPortletPreferences.setValue("portletSetupShowBorders", "false")

			$theme.runtime("7_WAR_soportlet", "", $velocityPortletPreferences.toString())

			$velocityPortletPreferences.reset()
		</li>
		<li class="user-controls has-menu">
			<a href="$user_profile_url"><span class="avatar" style="background-image: url($user.getPortraitURL($themeDisplay))"><img src="$user.getPortraitURL($themeDisplay)" alt="$user.getFullName()"></span> <span class="user-name">$user.getFullName() &#x25BE;</span></a>

			<ul class="child-menu">
				<li><a href="#" id="toggleDockbar">
					#if ($show_dockbar)
						#language("hide")
					#else
						#language("show")
					#end

					#language("javax.portlet.title.145")
				</a></li>

				#if ($show_control_panel)
					<li><a href="$control_panel_url" title="#language("go-to") $control_panel_text">$control_panel_text</a></li>
				#end

				#if ($show_sign_out)
					<li><a href="$sign_out_url">$sign_out_text</a></li>
				#end
			</ul>
		</li>
		#end
		#if (!$is_signed_in)
		<li>
			<a href="$sign_in_url" id="sign-in" rel="nofollow">$sign_in_text</a>
		</li>
		#end
	</ul>
</nav>